/* Tag selector to select the 'body' element */
body {
  background-color: #00b3e6; /* Light blue background for the whole document */
  font-family: "Helvetica Neue", sans-serif; /* Applies Helvetica Neue font to the entire document */
}
div {
  width: 700px; /* Sets width of <div> elements */
  margin: auto; /* Centers the <div> elements horizontally */
  background-color: white; /* Sets background color of <div> elements to white */
  padding: 30px; /* Adds padding around the content inside <div> elements */
}
#main-header {
  font-size: 22px; /* Sets font size for the element with the id 'main-header' */
}
.perspective-questions {
  font-style: italic; /* Applies italic font style to elements with the class 'perspective-questions' */
}
